<div class="row">
  <div class="col-md-6">
    <h1>Top Defenders</h1>
    <table class="table table-striped">
      <tr><th>Rank</th><th>Name</th><th>Score</th></tr>

      <% defenders.each_with_index do |defender, i| %>
        <tr><td><%= i + 1 %></td><td><%= defender.name %></td><td><%= defender.defender_points %></td></tr>
      <% end  %>
    </table>
  </div>

  <div class="col-md-6">
    <h1>Top Attackers</h1>
    <table class="table table-striped">
      <tr><th>Rank</th><th>Name</th><th>Score</th></tr>

      <% attackers.each_with_index do |attacker, i| %>
        <tr><td><%= i + 1 %></td><td><%= attacker.name %></td><td><%= attacker.attacker_points %></td></tr>
      <% end  %>

    </table>
  </div>

</div>

<div class="row">
  <h1>Top Teams</h1>
  <table class="table table-striped">
    <tr><th>Rank</th><th>Team Name</th><th>Defender</th><th>Attacker</th><th>Score</th></tr>

    <% teams.each_with_index do |team, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= team.name %></td>
        <td><%= team.defender.name %></td>
        <td><%= team.attacker.name %></td>
        <td><%= team.points %></td>
      </tr>
    <% end %>

  </table>
</div>

<div class="footer">
  <hr> <p>&copy; Rockers 2013</p>
</div>
