<div class="row-fluid">
  <h1>Latest Matches</h1>
  <table class="table table-striped">
    <tr><th>Match no</th><th>Red (df/at)</th><th>Blue (df/at)</th><th>Score (Red/Blue)</th><th>Winner</th></tr>
    
    <% matches.each_with_index do |match, i| %>
      <tr>
        <td><%= match.id %></td>
        <td><%= match.red.defender.name %>/<%= match.red.attacker.name %></td>
        <td><%= match.blue.defender.name %>/<%= match.blue.attacker.name %></td>
        <td><%= match.red_score %>/<%= match.blue_score %></td>
        <td><%= match.winner.defender.name %>/<%= match.winner.attacker.name %></td>
      </tr>
    <% end %>

  </table>
</div>
<div class="row">
  <%= will_paginate matches %>
</div>
<div class="footer">
  <hr> <p>&copy; Rockers 2013</p>
</div>
